<div ng-show="!loaded">
	<h1>Loading...</h1>
</div>

<div ng-show="films && loaded">
	<h1>Films</h1>
	<div class="row">

		<div class="col card-group" ng-repeat="film in films.data.results track by $index">
			<div class="card my-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><a href="#!/films/{{extractUrlId(film.url)}}">{{film.title}}</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Episode {{film.episode_id}}</h6>
					<p class="card-text">Directed by {{film.director}}</p>
					<p class="card-text">Produced by {{film.producer}}</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div ng-show="film && loaded">
	<div class="row">

		<h2>{{film.data.title}}</h2>
		<div>
			<h3>Opening</h3>
			{{film.data.opening_crawl}}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Release date : {{film.data.release_date}}</li>
			<li class="list-group-item">Episode : {{film.data.episode_id}}</li>
			<li class="list-group-item">Director : {{film.data.director}}</li>
			<li class="list-group-item">Producer : {{film.data.producer}}</li>

			<li class="list-group-item">Characters :
				<ul ng-repeat="character in peopleUrlName track by $index">
					<li class="list-group-item"><a href="#!/people/{{character.id}}">{{character.name}}</a></li>
				</ul>
			</li>
			<li class="list-group-item">Planets :
				<ul ng-repeat="planet in planetsUrlName track by $index">
					<li class="list-group-item"><a href="#!/planets/{{planet.id}}">{{planet.name}}</a></li>
				</ul>
			</li>
			<li class="list-group-item">Species :
				<ul ng-repeat="race in speciesUrlName track by $index">
					<li class="list-group-item"><a href="#!/species/{{race.id}}">{{race.name}}</a></li>
				</ul>
			</li>
			<li class="list-group-item">Starships :
				<ul ng-repeat="starship in starshipsUrlName track by $index">
					<li class="list-group-item"><a href="#!/starships/{{starship.id}}">{{starship.name}}</a></li>
				</ul>
			</li>
			<li class="list-group-item">Vehicles :
				<ul ng-repeat="vehicle in vehiclesUrlName track by $index">
					<li class="list-group-item"><a href="#!/starships/{{vehicle.id}}">{{vehicle.name}}</a></li>
				</ul>
			</li>
		</ul>

	</div>
</div>
