<div class="row  divloader" ng-show="!loaded">
	<div class="col-12 loader text-center align-self-center">
		<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
	</div>
</div>

<div ng-show="starships && loaded">
	<div>
	<input type="text" ng-model="starshipsSearched">
	<button ng-click="searchStarships()">Search a starship</button>
	<span ng-repeat="result in searchResult.data.results track by $index"><a href="#!/starships/{{extractUrlId(result.url)}}">{{result.name}}</a></span>
	</div>
<ul>
	<li ng-repeat="starship in starships.data.results track by $index"><a href="#!/starships/{{extractUrlId(starship.url)}}">{{starship.name}}</a></li>
</ul>
<button type="button" name="prev" ng-click="pageNumberDecrement()"> <- </button>
<span>Page : {{pageNumber}}</span>
<button type="button" name="next" ng-click="pageNumberIncrement()"> -> </button>
</div>

<div ng-if="starship && loaded">

<h2>{{starship.data.name}}</h2>
<div ng-if="filmsUrlName.length > 0">Films :
	<span ng-repeat="film in filmsUrlName track by $index">
		<a href="#!/films/{{film.id}}">{{film.name}}</a>
	</span>
</div>

<ul>
	<li>Starship class: {{starship.data.starship_class}}</li>
	<li>Model: {{starship.data.model}}</li>
	<li>Manufacturer: {{starship.data.manufacturer}}</li>
	<li>Length: {{starship.data.length}}</li>
	<li>Hyperdrive rating: {{starship.data.hyperdrive_rating}}</li>
	<li>Crew: {{starship.data.crew}}</li>
	<li>Passengers: {{starship.data.passengers}}</li>
	<li>Cargo capacity: {{starship.data.cargo_capacity}}</li>
	<li>Consumables: {{starship.data.consumables}}</li>
	<li>Price: {{starship.data.cost_in_credits}}</li>
	<li ng-if="peopleUrlName.length > 0 ">Pilot(s) :
		<ul ng-repeat="pilot in peopleUrlName track by $index">
			<li><a href="#!/people/{{pilot.id}}">{{pilot.name}}</a></li>
		</ul>
	</li>
</ul>

</div>
